@{
    ViewBag.Title = "";
}

<h2>Student Main Page</h2>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function() {
            alert("@(TempData["Message"] as string)");
        };

    </script>
    TempData["Message"] = null;
}

<body>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10 margin-top-10">
                <input type="submit" value="View Schedule" class="btn btn-default"
                       onclick="location.href='@Url.Action("ViewSchedule", "Student")'" />
            </div>
            <div class="col-md-10 margin-top-10">
                <input type="submit" value="View Exam Schedule" class="btn btn-default"
                       onclick="location.href='@Url.Action("ViewExamSchedule", "Student")'" />
            </div>


            <div class="col-md-10 margin-top-50">
                <input type="submit" value="Exit" class="btn btn-default"
                       onclick="location.href='@Url.Action("Exit", "Student")'" />
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

